
@{
    ViewBag.Title = "Valid";
}
<div class="container">
    <div class="row">
        <center>
            <h1>Upload your Record Here </h1>
            <div class="col-md-12">
               
                    <h1 class="btn btn-light"> <a href="@Url.Action("ViewAllEmployee","Employee")" style="font-size:large;">Add Update Delete New  Employee</a></h1>
                    <br />
                    <h1 class="btn btn-light"> <a href="@Url.Action("ViewAllServices","HomeServices" )" style="font-size:large;">Add Update Delete New Services</a></h1>
                    <br />
                    <h1 class="btn btn-light"> <a href="@Url.Action("ViewAllContact","Home")" style="font-size:large;">View who have Contacted us</a></h1>
                  
             

            </div>
        </center>

    </div>

</div>
