@{
    ViewBag.Title = "About";
}

<!-- Best Rental Home  -->
<section class="why">
    <div class="container p-md-5 p-3">
        <h3 class="heading text-capitalize text-center">Our Best Home </h3>
        <h5 class="heading mb-5 text-center">Rental Home Store</h5>
        <div class="row">
            <div class="col-md-4">
                <img src="~/images/owner.jpeg" class="img img-thumbnail" />
            </div>
            <div class="col-md-8">
                <p class="aboutText" style="color:black; text-align:justify;">
                    With over 30 years of Rental experience and courteous customer service, you can bet Avenue Road Rentals knows its business. Commitment to high standards and customer care, backed up by a solution driven, Canadian proud professional team, we are a small independent company with our customer’s best interest in mind. All home construction and repair information is accompanied by the advice you, as a customer, needs to know about the right equipment and for the right job. We provide the answers to the do it your-selfers, contractors and even high profile home builders all over the GTA.<br />
                </p>
            </div>
            <div class="col-md-12">
                <p style="color:black; text-align:justify;">
                    Avenue Road Rentals has a wide array of items to help get the job done. From seasonal equipment like tillers, lawnmowers, hedge trimmers, pressure washers, cleaning equipment and detergent, chain saws to specialty items that consist of carpentry tools like floor sanders, tile cutters, cement mixers, generators, scaffolding, heaters, fans, ladders etc.

                    Specialty departments consist of our moving items like appliance dollies, moving boxes, bubble wrap and box tape. Also available is our party equipment which includes, tables, chairs, BBQ’s, poker tables, popcorn machine.

                </p>

            </div>
        </div>


    </div>
</section>
<!-- //Why taxi cab -->
<!-- team -->
<section class="wthree-row py-5">
    <div class="container py-lg-5 py-3">
        <h3 class="heading text-capitalize text-center">Our  Space to Provide</h3>
        <br />
        <div class="row text-center">
            <div class="col-lg-4 col-sm-6 col-6 team-grids">
                <div class="team-effect">
                    <img src="~/images/home1.jpg" alt="img" class="img-fluid img-thumbnail">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-6 team-grids">
                <div class="team-effect">
                    <img src="~/images/home2.jpg" alt="img" class="img-fluid img-thumbnail">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-6 team-grids mt-lg-0 mt-5">
                <div class="team-effect">
                    <img src="~/images/home3.jpeg" alt="img" class="img-fluid img-thumbnail">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //team -->
