
@{
    ViewBag.Title = "Gallery";
}
<!-- Best Rental Home  -->
<section class="why">
    <div class="container p-md-5 p-3">
        <h3 class="heading text-capitalize text-center">Our Best Home </h3>
        <h5 class="heading mb-5 text-center">Services</h5>
        <div class="row">
            <div class="col-md-4 text-center house">
                <img src="~/images/home1.jpg" class="img img-thumbnail"><br /><br />
                <a href="#" class="btn btn-primary">View More</a>
            </div>
            <div class="col-md-4 text-center house">
                <img src="~/images/home2.jpg" class="img img-thumbnail"><br /><br />
                <a href="#" class="btn btn-primary">View More</a>
            </div>

            <div class="col-md-4 text-center house">
                <img src="~/images/home3.jpeg" class="img img-thumbnail"><br /><br />
                <a href="#" class="btn btn-primary">View More</a>
            </div>
            <div class="col-md-4 text-center house">
                <img src="~/images/home4.jpg" class="img img-thumbnail"><br /><br />
                <a href="#" class="btn btn-primary">View More</a>
            </div>
            <div class="col-md-4 text-center house">
                <img src="~/images/home5.jpg" class="img img-thumbnail"><br /><br />
                <a href="#" class="btn btn-primary">View More</a>
            </div>
            <div class="col-md-4 text-center house">
                <img src="~/images/home6.jpg" class="img img-thumbnail"><br /><br />
                <a href="#" class="btn btn-primary">View More</a>
            </div>
            <div class="col-md-4 text-center house">
                <img src="~/images/home7.jpg" class="img img-thumbnail"><br /><br />
                <a href="#" class="btn btn-primary">View More</a>
            </div>
            <div class="col-md-4 text-center house">
                <img src="~/images/home8.jpg" class="img img-thumbnail"><br /><br />
                <a href="#" class="btn btn-primary">View More</a>
            </div>
            <div class="col-md-4 text-center house">
                <img src="~/images/home9.jpg" class="img img-thumbnail"><br /><br />
                <a href="#" class="btn btn-primary">View More</a>
            </div>

        </div>
    </div>
</section>
<!-- //Why taxi cab -->
<!-- team -->
<section class="wthree-row py-5">
    <div class="container py-lg-5 py-3">
        <h3 class="heading text-capitalize text-center">Our Best Space to Provide</h3>
        <br />
        <div class="row text-center">
            <div class="col-lg-4 col-sm-6 col-6 team-grids">
                <div class="team-effect">
                    <img src="~/images/home1.jpg" alt="img" class="img-fluid img-thumbnail">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-6 team-grids">
                <div class="team-effect">
                    <img src="~/images/home2.jpg" alt="img" class="img-fluid img-thumbnail">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-6 team-grids mt-lg-0 mt-5">
                <div class="team-effect">
                    <img src="~/images/home3.jpeg" alt="img" class="img-fluid img-thumbnail">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //team -->
