@{
    ViewBag.Title = "Home Page";
}


<section class="why">
    <div class="container p-md-5 p-3">
        <h3 class="heading text-capitalize text-center">Our Best Home </h3>
        <h5 class="heading mb-5 text-center">Rental Home Store</h5>
        <div class="row">
            <div class="col-md-12 info">
                <img src="~/images/home1.jpg" class="img img-thumbnail" />	<br />
                <h1 class="text-center">Queen Villa </h1><hr />
                <p class="info" style="color:black;">Area 400Sqft. with two bed rooms and one kitchen and one bathroom. This home having best location and view to live.</p>
            </div>
        </div>


    </div>
</section>
<!-- //Why taxi cab -->
<!-- team -->
<section class="wthree-row py-5">
    <div class="container py-lg-5 py-3">
        <h3 class="heading text-capitalize text-center">Our Happy Clients</h3>
        <h5 class="heading mb-5 text-center">Clients</h5>
        <div class="row text-center">
            <div class="col-lg-3 col-sm-6 col-6 team-grids">
                <div class="team-effect">
                    <img src="~/images/cl1.jpg" alt="img" class="img-fluid img-thumbnail">
                </div>
                <!-- team text -->
                <div class="footerv2-w3ls mt-3">
                    <h4>John Henrry</h4>
                </div>
                <!-- //team text -->
            </div>
            <div class="col-lg-3 col-sm-6 col-6 team-grids">
                <div class="team-effect">
                    <img src="~/images/cl2.jpg" alt="img" class="img-fluid img-thumbnail">
                </div>
                <!-- team text -->
                <div class="footerv2-w3ls mt-3">
                    <h4>Sam Grid</h4>

                </div>
                <!-- //team text -->
            </div>
            <div class="col-lg-3 col-sm-6 col-6 team-grids mt-lg-0 mt-5">
                <div class="team-effect">
                    <img src="~/images/cl3.jpg" alt="img" class="img-fluid img-thumbnail">
                </div>
                <!-- team text -->
                <div class="footerv2-w3ls mt-3">
                    <h4>Shern wan</h4>

                </div>
                <!-- //team text -->
            </div>
            <div class="col-lg-3 col-sm-6 col-6 team-grids mt-lg-0 mt-5">
                <div class="team-effect">
                    <img src="~/images/cl4.jpg" alt="img" class="img-fluid img-thumbnail">
                </div>
                <!-- team text -->
                <div class="footerv2-w3ls mt-3">
                    <h4>Thomas Bond</h4>

                </div>
                <!-- //team text -->
            </div>
        </div>
    </div>
</section>
<!-- //team -->
