
@{
    ViewBag.Title = "Services";
}
<section class="why">
    <div class="container p-md-5 p-3">
        <h3 class="heading text-capitalize text-center">Our Services </h3>
        <h5 class="heading mb-5 text-center">Services</h5>
        <div class="row">
            <div class="col-md-6 servc">
                <h1 class="text-center">Provide Apartments for Rent</h1>
                <p style="color:black;text-align:justify;">
                    Search apartments for rent throughout Canada, check prices, view property details with large photo displays, floor plans, amenities, area maps, and more.
                </p>
            </div>
            <div class="col-md-6 servc">
                <h1 class="text-center">Secure Leases</h1>
                <p style="color:black;text-align:justify;">
                    Once you've found the perfect place for rent, easily submit an online rental application, and receive an approval notification once it's processed.
                </p>
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-md-6 servc">
                <h1 class="text-center">Rest Easy</h1>
                <p style="color:black;text-align:justify;">
                    With RENTAL HOME you can make secure rent payments, view balances, submit maintenance requests, get community news, and renew your lease — all in one place, all online.
                </p>
            </div>

            <div class="col-md-6 servc">
                <h1 class="text-center">RENTAL HOME for Residents</h1>
                <p style="color:black;text-align:justify;">
                    RENTAL Home goes beyond helping you find your perfect place. It also assists you in managing your new rental effortlessly. Log in securely to your Resident Portal, save time and go paperless with online rent payments, lease renewals, and maintenance requests. Keep track of your payments by checking their status and history.
                </p>
            </div>





        </div>
    </div>
</section>
<!-- //Why taxi cab -->
<!-- team -->
<section class="wthree-row py-5">
    <div class="container py-lg-5 py-3">
        <h3 class="heading text-capitalize text-center">Our  Space to Provide</h3>
        <br />
        <div class="row text-center">
            <div class="col-lg-4 col-sm-6 col-6 team-grids">
                <div class="team-effect">
                    <img src="~/images/home1.jpg" alt="img" class="img-fluid img-thumbnail">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-6 team-grids">
                <div class="team-effect">
                    <img src="~/images/home2.jpg" alt="img" class="img-fluid img-thumbnail">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-6 team-grids mt-lg-0 mt-5">
                <div class="team-effect">
                    <img src="~/images/home3.jpeg" alt="img" class="img-fluid img-thumbnail">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //team -->
